In [104]:
import pandas as pd
import time

In [91]:
from pytrends.request import TrendReq

pytrends = TrendReq(hl='en-US', tz=360, retries=2, backoff_factor=1)

In [46]:
#book_name = "The Absolutely True Diary of a Part Time Indian"

In [68]:
book_df = pd.read_csv("../Data/booksbandates.csv", index_col=0)#"../Data/PEN_booklist.csv")
book_df["ID"] = book_df.index

## Call API and collect data

In [95]:
def call_api(ID, book_name, time_frame):
    kw_list = [book_name]
    pytrends.build_payload(kw_list, cat=0, timeframe=time_frame, geo='', gprop='')
    df = pytrends.interest_over_time().reset_index().rename(columns={book_name: 'interest'})
    df["book"] = book_name
    df["ID"] = ID
    return df

In [ ]:
dfs = pd.DataFrame(columns=["ID", "date", "interest", "book"])

In [219]:
list(book_df.ID)[1492:]

[1493,
 1494,
 1495,
 1496,
 1497,
 1498,
 1499,
 1500,
 1501,
 1502,
 1503,
 1504,
 1505,
 1506,
 1507,
 1508,
 1509,
 1510,
 1511,
 1512,
 1513,
 1514,
 1515,
 1516,
 1517,
 1518,
 1519,
 1520,
 1521,
 1522,
 1523,
 1524,
 1525,
 1526,
 1527,
 1528,
 1529,
 1530,
 1531,
 1532,
 1533,
 1534,
 1535,
 1536,
 1537,
 1538,
 1539,
 1540,
 1541,
 1542,
 1543,
 1544,
 1545,
 1546,
 1547,
 1548,
 1549,
 1550,
 1551,
 1552,
 1553,
 1554,
 1555,
 1556,
 1557,
 1558,
 1559,
 1560,
 1561,
 1562,
 1563,
 1564,
 1565,
 1566,
 1567,
 1568,
 1569,
 1570,
 1571,
 1572,
 1573,
 1574,
 1575,
 1576,
 1577,
 1578,
 1579,
 1580,
 1581,
 1582,
 1583,
 1584,
 1585,
 1586]

In [222]:
for i in list(book_df.ID)[1492:]: #list(book_df.ID):
    if i % 20 == 0:
        print(i)
    book_name = book_df[book_df.ID == i].Title.item()
    time_frame = book_df[book_df.ID == i].time_frame.item() #'2016-12-01 2016-12-02'
    df = call_api(i, book_name, time_frame)
    #print(df)
    #time.sleep(1)
    dfs = pd.concat([dfs, df], ignore_index=True)

1500
1520
1540
1560
1580

In [ ]:
# TODO: RETRY ON IDS NOT FOUND
# - name is too long
# - name contains spanish / another language
# - name contains series in parentheses
# - name is too vague and may not capture interest related to the book (ex: "Pet")

In [215]:
set(dfs.ID)

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 10,
 12,
 13,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 34,
 40,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 62,
 63,
 64,
 65,
 67,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 93,
 94,
 95,
 97,
 98,
 99,
 100,
 103,
 104,
 109,
 114,
 115,
 116,
 119,
 120,
 121,
 122,
 123,
 126,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 137,
 138,
 139,
 146,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 157,
 158,
 159,
 160,
 161,
 164,
 165,
 167,
 170,
 171,
 172,
 173,
 174,
 179,
 190,
 193,
 195,
 199,
 200,
 201,
 202,
 211,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 225,
 226,
 227,
 229,
 233,
 234,
 237,
 239,
 240,
 241,
 242,
 244,
 246,
 249,
 250,
 251,
 252,
 254,
 255,
 257,
 258,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 271,
 280,
 281,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 294,
 296,
 298,
 299,
 300,
 301,
 302,
 304,
 305,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 330,
 331,
 332,
 333,
 334,
 337,
 339,
 355,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 374,
 375,
 377,
 378,
 382,
 383,
 384,
 385,
 390,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 416,
 417,
 418,
 420,
 438,
 439,
 442,
 445,
 446,
 447,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 464,
 465,
 466,
 469,
 470,
 474,
 476,
 477,
 478,
 479,
 480,
 482,
 488,
 489,
 490,
 491,
 492,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 503,
 504,
 518,
 522,
 523,
 525,
 526,
 527,
 528,
 529,
 533,
 534,
 535,
 536,
 537,
 538,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 551,
 552,
 556,
 557,
 558,
 565,
 566,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 589,
 590,
 591,
 593,
 594,
 598,
 599,
 600,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 613,
 614,
 615,
 619,
 620,
 621,
 624,
 625,
 626,
 627,
 628,
 629,
 633,
 634,
 635,
 636,
 637,
 639,
 640,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 668,
 669,
 670,
 671,
 672,
 673,
 675,
 676,
 677,
 678,
 681,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 721,
 723,
 726,
 744,
 745,
 748,
 749,
 750,
 752,
 754,
 755,
 756,
 757,
 758,
 759,
 770,
 771,
 775,
 776,
 777,
 778,
 781,
 783,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 823,
 824,
 825,
 826,
 828,
 829,
 844,
 845,
 847,
 848,
 849,
 857,
 858,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 876,
 877,
 879,
 883,
 884,
 885,
 886,
 887,
 888,
 892,
 893,
 894,
 895,
 896,
 901,
 902,
 905,
 906,
 913,
 914,
 917,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 936,
 937,
 939,
 941,
 944,
 946,
 947,
 948,
 949,
 950,
 952,
 955,
 956,
 960,
 961,
 962,
 974,
 975,
 976,
 977,
 978,
 981,
 983,
 984,
 986,
 988,
 989,
 990,
 991,
 993,
 994,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1026,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1037,
 1038,
 1039,
 1040,
 1041,
 1042,
 1043,
 1044,
 1047,
 1048,
 1049,
 1050,
 1054,
 1055,
 1056,
 1057,
 1058,
 1059,
 1060,
 1061,
 1062,
 1063,
 1064,
 1065,
 1066,
 1067,
 1068,
 1069,
 1070,
 1073,
 1074,
 1081,
 1082,
 1083,
 1085,
 1086,
 1087,
 1089,
 1090,
 1091,
 1098,
 1099,
 1100,
 1101,
 1102,
 1103,
 1104,
 1105,
 1106,
 1107,
 1108,
 1109,
 1110,
 1111,
 1112,
 1114,
 1115,
 1116,
 1118,
 1124,
 1127,
 1128,
 1129,
 1133,
 1134,
 1135,
 1137,
 1138,
 1139,
 1140,
 1141,
 1142,
 1143,
 1144,
 1145,
 1146,
 1147,
 1148,
 1149,
 1150,
 1151,
 1152,
 1153,
 1154,
 1157,
 1159,
 1161,
 1162,
 1163,
 1164,
 1168,
 1169,
 1170,
 1171,
 1172,
 1173,
 1174,
 1177,
 1180,
 1181,
 1182,
 1183,
 1184,
 1185,
 1186,
 1190,
 1194,
 1195,
 1197,
 1201,
 1203,
 1204,
 1205,
 1206,
 1207,
 1211,
 1212,
 1213,
 1214,
 1215,
 1216,
 1217,
 1218,
 1219,
 1220,
 1221,
 1222,
 1223,
 1230,
 1231,
 1235,
 1236,
 1237,
 1238,
 1240,
 1241,
 1242,
 1243,
 1244,
 1245,
 1247,
 1249,
 1251,
 1254,
 1255,
 1256,
 1257,
 1258,
 1259,
 1261,
 1262,
 1264,
 1265,
 1267,
 1268,
 1269,
 1270,
 1272,
 1273,
 1278,
 1279,
 1282,
 1283,
 1284,
 1285,
 1286,
 1287,
 1292,
 1293,
 1294,
 1295,
 1296,
 1297,
 1298,
 1302,
 1303,
 1304,
 1305,
 1306,
 1309,
 1310,
 1312,
 1313,
 1315,
 1323,
 1324,
 1325,
 1326,
 1327,
 1329,
 1330,
 1331,
 1332,
 1334,
 1335,
 1336,
 1337,
 1341,
 1343,
 1345,
 1346,
 1350,
 1351,
 1352,
 1353,
 1354,
 1355,
 1356,
 1360,
 1369,
 1370,
 1371,
 1372,
 1373,
 1377,
 1378,
 1381,
 1382,
 1387,
 1388,
 1389,
 1390,
 1392,
 1393,
 1396,
 1399,
 1401,
 1402,
 1406,
 1407,
 1408,
 1413,
 1414,
 1416,
 1420,
 1421,
 1422,
 1423,
 1424,
 1425,
 1426,
 1428,
 1429,
 1433,
 1434,
 1435,
 1436,
 1437,
 1438,
 1439,
 1440,
 1441,
 1442,
 1443,
 1444,
 1448,
 1450,
 1451,
 1452,
 1453,
 1454,
 1455,
 1459,
 1460,
 1461,
 1462,
 1463,
 1464,
 1465,
 1466,
 1467,
 1468,
 1469,
 1470,
 1471,
 1472,
 1473,
 1476,
 1477,
 1480,
 1485,
 1486,
 1487,
 1488,
 1489,
 1490}

In [218]:
book_df[book_df.ID == 1493].Title.item()

'Hello Now'

In [ ]:
dfs = dfs.drop(["isPartial"], axis=1)

In [72]:
#dfs.to_csv("../Data/interest_data/test.csv")

In [223]:
dfs.to_csv("../Data/interest_data/ids_done.csv")

In [224]:
dfs

         ID       date interest             book isPartial index
0         1 2021-07-04       71    Ace of Spades     False   NaN
1         1 2021-07-11       73    Ace of Spades     False   NaN
2         1 2021-07-18       86    Ace of Spades     False   NaN
3         1 2021-07-25       77    Ace of Spades     False   NaN
4         1 2021-08-01       73    Ace of Spades     False   NaN
...     ...        ...      ...              ...       ...   ...
36109  1584 2021-11-28       72  American Street     False   NaN
36110  1584 2021-12-05       79  American Street     False   NaN
36111  1584 2021-12-12       72  American Street     False   NaN
36112  1584 2021-12-19       68  American Street     False   NaN
36113  1584 2021-12-26       73  American Street     False   NaN

[36114 rows x 6 columns]