In [33]:
import pandas as pd

In [1]:
from pytrends.request import TrendReq

pytrends = TrendReq(hl='en-US', tz=360)

In [46]:
book_name = "The Absolutely True Diary of a Part Time Indian"

In [68]:
book_df = pd.read_csv("../Data/booksbandates.csv", index_col=0)#"../Data/PEN_booklist.csv")
book_df["ID"] = book_df.index

## Call API and collect data

In [69]:
def call_api(ID, book_name, time_frame):
    kw_list = [book_name]
    pytrends.build_payload(kw_list, cat=0, timeframe=time_frame, geo='', gprop='')
    df = pytrends.interest_over_time().reset_index().rename(columns={book_name: 'interest'})
    df["book"] = book_name
    df["ID"] = ID
    return df

In [70]:
dfs = pd.DataFrame(columns=["ID", "date", "interest", "book"])
for i in list(book_df.ID)[:5]:
    book_name = book_df[book_df.ID == i].Title.item()
    time_frame = book_df[book_df.ID == i].time_frame.item() #'2016-12-01 2016-12-02'
    df = call_api(i, book_name, time_frame)
    df = df.drop(["isPartial"], axis=1)
    dfs = pd.concat([dfs, df], ignore_index=True)

In [71]:
dfs

    ID       date interest           book
0    1 2021-07-04       71  Ace of Spades
1    1 2021-07-11       73  Ace of Spades
2    1 2021-07-18       86  Ace of Spades
3    1 2021-07-25       77  Ace of Spades
4    1 2021-08-01       73  Ace of Spades
..  ..        ...      ...            ...
190  5 2022-05-29       54     The Poet X
191  5 2022-06-05       58     The Poet X
192  5 2022-06-12       42     The Poet X
193  5 2022-06-19       23     The Poet X
194  5 2022-06-26        0     The Poet X

[195 rows x 4 columns]

In [72]:
dfs.to_csv("../Data/interest_data/test.csv")