In [33]:
import pandas as pd

In [1]:
from pytrends.request import TrendReq

pytrends = TrendReq(hl='en-US', tz=360)

In [46]:
book_name = "The Absolutely True Diary of a Part Time Indian"

In [52]:
book_df = pd.read_csv("../Data/booksbandates.csv", index_col=0)#"../Data/PEN_booklist.csv")
book_df["ID"] = book_df.index

In [61]:
def call_api(ID, book_name, time_frame):
    kw_list = [book_name]
    pytrends.build_payload(kw_list, cat=0, timeframe=time_frame, geo='', gprop='')
    df = pytrends.interest_over_time().reset_index().rename(columns={book_name: 'interest'})
    df["book"] = book_name
    df["ID"] = ID
    return df

In [66]:
dfs = pd.DataFrame(columns=["ID", "date", "interest", "book"])
for i in list(book_df.ID)[:5]:
    book_name = book_df[book_df.ID == i].Title.item()
    time_frame = book_df[book_df.ID == i].time_frame.item() #'2016-12-01 2016-12-02'
    df = call_api(i, book_name, time_frame)
    df = df.drop(["isPartial"], axis=1)
    dfs = pd.concat([dfs, df], ignore_index=True)

In [67]:
dfs

    ID       date interest           book
0    1 2021-10-01      100  Ace of Spades
1    1 2021-10-02       79  Ace of Spades
2    1 2021-10-03       69  Ace of Spades
3    1 2021-10-04       99  Ace of Spades
4    1 2021-10-05       82  Ace of Spades
..  ..        ...      ...            ...
451  5 2022-03-27        0     The Poet X
452  5 2022-03-28       24     The Poet X
453  5 2022-03-29       24     The Poet X
454  5 2022-03-30       58     The Poet X
455  5 2022-03-31       58     The Poet X

[456 rows x 4 columns]